@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #6e6e77;
  background-color: #ffffff;
  font-family: 'Afacad', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

::selection {
  background-color: #0119ff;
  color: white;
}